.ck{
  border-radius: 20px;
}


.kotak {
width: 350px;
font-family: times;
    font-size: 25px;
    background: red;
    font-weight: bold;
    color: white;
    border: black 4px solid;
    border-radius: 20px;
    padding: 20px 50px;
    margin-top: 10px;
}

.eko {
width: 350px;
font-family: times;
    font-size: 25px;
    background: red;
    font-weight: bold;
    color: white;
    border: black 4px solid;
    border-radius: 20px;
    padding: 20px 50px;
    margin-top: 10px;
}



.dul {
   width: 350px;
    font-family: times;
    font-size: 50px;
    background: red;
    font-weight: bold;
    color: white;
    border: black 4px solid;
    border-radius: 20px;
    padding: 20px 50px;
    margin-top: 10px;
}



.los {
  width: 350px;
    font-family: times;
    font-size: 50px;
    background: red;
    font-weight: bold;
    color: white;
    border: black 4px solid;
    border-radius: 20px;
    padding: 20px 50px;
    margin-top: 10px;
}
